<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-30.-30thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appenders -->
    <appender name="allFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/all.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>720</maxHistory> <!-- 30 days by 24 rollovers daily -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-30.-30thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="infoFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>logs/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rollover at the beginning of every day. -->
            <fileNamePattern>logs/info.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-30.-30thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rollover at the beginning of every day. -->
            <fileNamePattern>logs/error.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-30.-30thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="root" level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="allFileAppender"/>
        <appender-ref ref="infoFileAppender"/>
        <appender-ref ref="errorFileAppender"/>
    </logger>

    <logger name="net.iryndin.cashrbcapi" level="trace"/>

</configuration>